* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(black.avif);
  background-size: 100% auto ;
  background-repeat: no-repeat;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}


.container {
  width: 90%;
  max-width: 800px;
  /* height: 80%; */
  padding: 1em;
  background-color: rgba(32, 45, 228, 0.919);
  border-top: 5px solid orangered;
  border-left: 5px solid orangered;
  box-shadow: 20px 20px 50px greenyellow;
  color: white;
  border-radius: 1rem;
  text-align: center;
}
.container h1 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.input {
  display: flex;
  flex-direction: column;
  font-size: medium;
  align-items: center;
  justify-content: flex-start;
}

.input input,
button {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.3rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: #6fbde7e0;
  border-radius: 10.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-weight: 500;
}
button:hover {
  background-color: violet;
  cursor: pointer;
}

.output p {
  font-size: 3rem;
  margin: 0.5rem;
}
